*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
*.tfvars
*.tfvars.json
*.txt
terraform.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraformrc
terraform.rc
.idea/
.DS_Store
